; このファイル config.ini.example をコピーして config.ini を作成してください
; config.ini は .gitignore によりGitの管理対象外となります

[AWS]
; ご自身のAWS IAMユーザーのキーを指定
aws_access_key_id = YOUR_ACCESS_KEY_ID
aws_secret_access_key = YOUR_SECRET_ACCESS_KEY
aws_region = ap-northeast-1

[DEFAULT]
; S3へのアップロードクラス (DEEP_ARCHIVE または STANDARD など)
s3_storage_class = DEEP_ARCHIVE

; Zipファイルを作成する一時ディレクトリ
; . (ドット) はスクリプト実行場所を意味します
zip_temp_dir = .